bin
build
ref
gen
target
lsp-grammar/**
gradle
def-antlr4-ref-code
tpantlr2-code
dependency-reduced-pom.xml

README.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code or Theia ###
.vscode/
.theia
/grammars-v4-master/**
/grammars-v4-master/**
/ref/**
grammars-v4-master.zip
antlr4example-master.zip
cobol85 - Shortcut.lnk
antlr-try - Shortcut.lnk
antlr4example-master - Shortcut.lnk
